@page

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model IndexModel
@{
    ViewData["Title"] = "Home page";
    if (SignInManager.IsSignedIn(User))
    {
        <div class="text-center">
            <h1 class="display-4"> Welcome @User.Identity.Name</h1>
            <p>Click the links on the upper left corner to navigate around the site</p>
        </div>
    }
    else
    {
        Response.Redirect("Identity/Account/Login");
    }
}



