@page

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model IndexModel
@{
    ViewData["Title"] = "Home page";
    if (SignInManager.IsSignedIn(User))
    {
        <div class="text-center">
            <h1 class="display-4"> Welcome @User.Identity.Name</h1>
        </div>
    }
    else
    {
        <div class="text-center">
            <h1 class="display-4">Need to login to view this website</h1>
        </div>
    }
}



